{% extends 'base.html.twig' %}

{% block title %}BienImmo index{% endblock %}

{% block body %}
    <h1>BienImmo index</h1>

    <a href="{{ path('app_profile_new_property') }}">Create new</a>
    
{% endblock %}
